.faqs {

  &__container {
    width: 100%;
    max-width: 880px;
    margin-inline: auto;
    padding-block: 139px 50px;
    position: relative;
    

    @media (max-width: 768px) {
      padding-block: 40px 20px;
      padding-inline: 20px;
    }

    .title {
      margin-bottom: 102px;

      @media (max-width: 1024px) {
        margin-bottom: 100px;
      }

      @media (max-width: 768px) {
        margin-bottom: 40px;
      }
    }

    .big-shadow {
      top: 220px;
      width: 100%;
      height: 60%;

      @media (max-width: 1024px) {
        top: 50px;
        width: 90%;

      }
    }
  }

  &__content {
    padding-bottom: 54px;
    background-color: #fff;
    padding-top: 66px;

    @media (max-width: 768px) {
      padding-bottom: 20px;
    }

    article {
      margin-bottom: 82px;

      @media (max-width: 768px) {
        margin-bottom: 25px;
      }

      h2 {
        color: var(--color-secondary);
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 22px;

        @media (max-width: 768px) {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }

      p {
        color: var(--color-primary);

        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }
}