@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.title {
  font-size: var(--font-size-lg);
  color: var(--color-primary);
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: var(--font-size-sm);
   }
}

.big-shadow {
  position: absolute;
  width: 1133px;
  height: 1156px;
  top: 469px;
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(50% 50% at 50% 50%, #A3934E 0%, #FFFFFF 100%);
  border-radius: 50%;
  z-index: -1;

  @media (max-width: 1200px) {
    width: 100%;
    height: 100%;
    top: 100px;
  }
}